*{box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

img{
    height: 100%; width: 100%;
    object-fit: cover; /*hace que la img ocupe todo el contenedor sin deformarse*/
}

.columna{
    display: flex;
    flex-direction: column;
    gap: 10px;
    place-items: center;
}

.producto{
    width: 300px;
    height: 120px;
    background-color: rgb(118, 118, 218);
    padding:10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

/*.nombreClase:nth-child(EVEN):PARES*/
/*.nombreClase:nth-child(ODD):IMPARES*/
.producto:nth-child(odd){
    background-color: rgb(126, 195, 241);
    box-shadow: 0px 0px 10px 5px;
    color: gray;
    flex-direction: row-reverse;
}

.fotoProducto{
    height: 100%;
    width: 80px;
    /* flex-basis: 80px;
    flex-shrink: 0;
    flex-grow: 0; */
    flex: 0 0 100px;
    border-radius: 6px;
    overflow: hidden;
}

.datoProducto{
    color: rgb(11, 14, 14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize!important;
}

.valoresProducto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.valoracion{
    color:black;
    height: 30px;
    background-color: rgb(212, 236, 145);
    flex: 0 0 0;
    aspect-ratio: 1/1;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important
}